@font-face {
    font-family: 'zabars';
    src:url('assets/fonts/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-image: url('./assets/img/5_background/bg.png');
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Hintergrundbildes */
    background-size: cover; /* Sorgt dafür, dass das Hintergrundbild den gesamten sichtbaren Bereich abdeckt */
    background-attachment: fixed; /* Fixiert das Hintergrundbild, damit es nicht scrollt */
    background-position: center; /* Zentriert das Hintergrundbild */
}

h1 {
    font-size: 72px;
    margin: 16px;
}

h2 {
    font-weight: unset;
    text-decoration: underline;
    font-size: 40px;
    margin: 0;
}

h4 {
    margin: 10px;
    font-size: 24px;
    font-weight: unset;
}

p {
    font-size: 24px;
    display: flex;
    justify-content: center;
    font-weight: unset;
}

canvas {
    display: none;
    background-color: black;
    border-width: 100px;
    box-shadow: 2px 2px 11px;
    border-radius: 8px;
}

.controls {
    display: flex;
    justify-content: space-evenly;
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.startScreen {
    width: 720px;
    height: 480px;
    position: relative;
}

.startScreen-img {
    width: 100%;
    height: 100%;
    border-width: 100px;
    box-shadow: 2px 2px 11px;
    border-radius: 8px;
}

.start-button {
    cursor: pointer;
    background: orange;
    padding: 12px 20px;
    font-family: 'zabars', Arial, sans-serif;
    font-size: 32px;
    border-radius: 12px;
    border: none;
    opacity: 1;
    transition: opacity 0.5s ease, background-color 0.5s ease;
}

.startbtn-container {
    font-family: 'zabars', Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 400px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mute-btn {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0;
    transform: translate(-50%, -50%);
    border: none;
    background: transparent;
    z-index: 100;
}

.btn-container {
    font-family: 'zabars', Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 200px;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btns.restart {
    cursor: pointer;
    background: orange;
    padding: 12px 20px;
    font-family: 'zabars', Arial, sans-serif;
    font-size: 32px;
    border-radius: 12px;
    border: none;
    opacity: 1;
    transition: opacity 0.5s ease, background-color 0.5s ease;
}

.btns.disabled {
    background: orange;
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

#impressum {
    max-width: 600px;
    margin: 24px auto;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
    border-style: dashed;
    height: 472px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.impressum-content {
    margin-top: 20px;
}

.impressum-section {
    margin-bottom: 160px;
}

.impressum-section p {
    font-size: 24px;
    font-style: italic;
    margin: 8px 0px;
}

.impressum-section a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 0px 10px;
}

.impressum-section a:hover {
    text-decoration: underline;
}

.back-btn {
    cursor: pointer;
    background: orange;
    padding: 12px 20px;
    font-family: 'zabars', Arial, sans-serif;
    font-size: 24px;
    border-radius: 8px;
    border: none;
}

#orientation-warning {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .hide-content {
    display: none !important;
}

.mobile-movement div{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .mobile-movement{
    display: flex;
    gap: 40px;
  }
  
  .mobile-movement-container{
    display: flex;
    flex-direction: row;
    gap: 165px;
    position: absolute;
    bottom: 0%;
    font-size: 24px;
  }

  .mute-btn-mobile {
    width: 40px;
    height: 40px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}


  @media (max-width: 950px) and (orientation: portrait) {
    #orientation-warning {
        display: flex !important;
    }

    body > *:not(#orientation-warning) {
        display: none !important;
    }
}

@media (max-width: 850px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 48px;
        margin: 12px;
        text-align: center;
    }

    h2 {
        font-size: 28px;
        text-align: center;
    }

    h4 {
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 18px;
        margin: 5px 0;
        text-align: center;
    }

    .startScreen {
        width: 90%;
        height: auto;
    }

    .startbtn-container {
        /* gap: 10px; */
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .btns.restart,
    .start-button {
        font-size: 24px;
        padding: 8px 12px;
    }

    .impressum-section {
        margin-bottom: unset;
    }

    .impressum-content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    canvas {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-height: 820px) {
    canvas {
      height: 357px;
      width: 652px;
    }

    .startScreen {
        height: 357px;
        width: 652px;
    }

    h1 {
        display: none;
    }

    .btn-container {
        top: 80%;
    }

    .controls {
        display: none;
    }

    .impressum-section {
        margin-bottom: unset;
    }

    .impressum-content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mobile-movement-container {
        position: absolute;
        bottom: 2%;
    }
  }


